* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}
body {
    background-color: rgb(238, 238, 238) !important;
    color: #EEEEEE !important;
    height: 100vh;
}
.sort-box {
    background-color: rgb(57, 62, 70);
    box-shadow: rgb(57, 62, 70) 0px 25px 20px -20px;
    border-radius: 0.5rem;
    padding: 1rem;
}
.setting-btn {
    padding: 0.4rem 0.7rem 0 0.7rem;
    font-size: 2rem;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: rgb(0, 173, 181);
    color: #393E46;
    transition: all ease 0.3s;
    justify-self: end;
}
.setting-btn:hover .fa-cog {
    animation: cog-spin 6s infinite linear;
    color: #EEEEEE;
    transition: all ease 0.3s;
}
.btn-p {
    padding: 0.2rem 0.4rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    background-color: rgb(0, 173, 181);
    color: #393E46;
    transition: all ease 0.3s;
}
.btn-p:hover {
    color: #EEEEEE;
    transition: all ease 0.3s;
}
@keyframes cog-spin {
    to {
        transform: rotate(360deg);
    }
}
.length-input {
    border-radius: 1rem;
    font-size: 1.5rem;
    width: 3rem;
    text-align: center;
    border: 2px solid rgb(0, 173, 181);
}
.index-list {
    display: flex;
    justify-content: center;
    list-style: none;
}
.index-list span {
    background-color: #EEEEEE;
    color: #222831;
    padding: 0.2rem 0.6rem;
    position: relative;
    border: 1px solid #222831;
    font-size: 1.5rem;
}
.array-input {
    border-radius: 1rem;
    font-size: 1.5rem;
    width: 100%;
    border: 2px solid rgb(0, 173, 181);
    word-spacing: 8px;
    padding-left: 1rem;
}
